<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" name="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-default" name="submit">Submit</button>
        </form>
    </div>
</div>